@model IEnumerable<CompetitionInvitesWCF.Models.StudentResponse>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Here is a list of people attending the party</h4></div>
        <div class="panel-body">
            <h3>List Students</h3>
            @using (Html.BeginForm("Search","Home", FormMethod.Post))
            { 
                @Html.Label("Keyword", "Student ID:")@Html.TextBox("keyword", null, new { @class = "form-control" }) <br /><input class="btn btn-success" type="submit" value="Search" /> <br />
            }
            <br />
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Social Network</th>
                        <th>Technical Interest</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in ViewBag.listStudents)
                    {
                        <tr>
                            <td>@student.StudentId</td>
                            <td>@student.Name</td>
                            <td>@student.Email</td>
                            <td>@student.Phone</td>
                            <td>@student.Address</td>
                            <td>@student.SocialNetworkInterest</td>
                            <td>@student.TechnicalInterest</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>